In [2]:
import pandas as pd 
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
dataset=pd.read_csv("E:/Intellipaat/Python/Ashutosh Jha Batch/diabetes.csv")

In [4]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
dataset.shape

(768, 9)

In [10]:
x=pd.DataFrame(dataset.iloc[:,:-1].values)
y=pd.DataFrame(dataset.iloc[:,-1])

In [11]:
x.head()

     0      1     2     3      4     5      6     7
0  6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0
1  1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0
2  8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0
3  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0
4  0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0

In [12]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30, random_state=1)

In [18]:
x_train.shape

(537, 8)

In [19]:
x_test.shape

(231, 8)

In [20]:
y_train.shape

(537, 1)

In [21]:
y_test.shape

(231, 1)

In [26]:
clfdt=DecisionTreeClassifier()

In [27]:
clfdt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [33]:
y_pred_dt=clfdt.predict(x_test)

In [34]:
accuracy_score(y_test,y_pred_dt)

0.7012987012987013

In [30]:
clfrf=RandomForestClassifier()

In [32]:
clfrf.fit(x_train,y_train)

E:\ProgramFiles\Python\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
E:\ProgramFiles\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [35]:
y_pred_rf=clfrf.predict(x_test)

In [36]:
accuracy_score(y_test,y_pred_rf)

0.7575757575757576